{% extends "index.html" %}

{% block content %}
	{% for post in posts %}
		
				<div class="card text-center">
					  <img class="card-img-top" src="{{url_for('static', filename='imagenes/' + post.imagen)}}">
					  <div class="card-body">
					    <h5 class="card-title">{{post.titulo}}</h5>
					    <p class="card-text">{{post.contenido}}</p>
					    {% if username %}
					    <a href="{{post.url}}" class="btn btn-primary active">Ir a Curso</a>
                        {% else %}
                        <a href="{{post.url}}" class="btn btn-secondary disabled" aria-disabled="true">Ir a Curso</a>
                        {% endif %}
					  </div>
					  <div class="card-footer">
					  	<div class="text-center">
					  		{% if username %}
					  		<a href="#" class="btn btn-primary active" role="button" aria-pressed="true"><i class="fas fa-edit"></i>Editar</a>
					  		<a href="/delete_post/{{post.id}}" class="btn btn-primary active" role="button" aria-pressed="true"><i class="fas fa-trash-alt"></i>Eliminar</a>
					  		{% else %}
					  		<a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-edit"></i>Editar</a>
					  		<a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-trash-alt"></i>Eliminar</a>
					  		{% endif %}
					  	</div>
				      </div>
				</div>
		
	{% endfor %}

{% endblock %}